.aquarium-container {
  background: var(--background);
  padding-top: 6rem;
  padding-bottom: 10rem;
  color: var(--text-color);
  position: relative;
  line-height: 1.5;
  overflow: hidden;
}

.aquarium-title {
  font-size: 4em;
  line-height: 1;
  text-align: center;
  margin-bottom: 4rem;
  color: var(--primary);
}

.aquarium-item {
  position: relative;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  gap: 4rem;
  /* color: var(--primary); */
  background: var(--primary);
  border-radius: 2rem;
  padding: 4rem;
  overflow: hidden;
}

.aquarium-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aquarium-image-container {
  flex-basis: 50%;
  cursor: pointer;
  /* height: 60vh; */
  width: auto;
  position: relative;
  /* margin-bottom: 3rem; */
  z-index: 3;
  display: flex;
  gap: 0;
}

.aquarium-item-img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1rem;
  border: 0.1rem solid var(--primary);
  background: var(--background);
}

/* .aquarium-image-container:hover .aquarium-item-img {
  animation: moveImage 0.5s ease-in-out;
  -webkit-animation: moveImage 0.5s ease-in-out;
} */

.bubble {
  display: none;
  position: absolute;
  width: 5rem;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

.aquarium-image-container:hover .bubble {
  display: inline;
}

.bubble.bubble-1 {
  width: 17%;
  bottom: 15%;
  left: -15%;
  -webkit-animation-name: bubble1;
  animation-name: bubble1;
}

.bubble.bubble-2 {
  width: 15%;
  bottom: 30%;
  left: -30%;
  -webkit-animation-name: bubble2;
  animation-name: bubble2;
}

.bubble.bubble-3 {
  width: 10%;
  bottom: 50%;
  left: -10%;
  -webkit-animation-name: bubble3;
  animation-name: bubble3;
}

.bubble.bubble-4 {
  width: 10%;
  bottom: 40%;
  right: -20%;
  -webkit-animation-name: bubble4;
  animation-name: bubble4;
}

.bubble.bubble-5 {
  width: 15%;
  bottom: 20%;
  right: -10%;
  -webkit-animation-name: bubble5;
  animation-name: bubble5;
}

.bubble.bubble-6 {
  width: 10%;
  bottom: 5%;
  left: 0;
  -webkit-animation-name: bubble6;
  animation-name: bubble6;
}

.aquarium-item-text {
  font-size: 1.8em;
  margin: 1rem 0;
  cursor: pointer;
  text-align: center;
}

.aquarium-item-description {
  margin: 1rem 0;
  text-align: center;
  max-width: 1000px;
}

.aquarium-price-div {
  display: flex;
  padding: 0 0.5rem;
  margin: 1rem 0;
}

.aquarium-item-price {
  font-size: 1.8rem;
  font-weight: bold;
}

.aquarium-item-discount {
  color: var(--attention);
  text-decoration: line-through;
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

a {
  color: var(--text-color);
}

.aquarium-item .btn {
  /* width: 50%; */
  font-size: 1.8rem;
  margin-top: 2rem;
}

.circle {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: radial-gradient(circle, rgba(218, 230, 251, 0.658) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 50%;
  border: 3px solid rgba(218, 230, 251, 0.403);
  opacity: 0.2;
}

.aquarium-waves {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%230b051b' fill-opacity='1' d='M 0,400 L 0,150 C 122.32142857142858,172.07142857142856 244.64285714285717,194.14285714285714 354,189 C 463.35714285714283,183.85714285714286 559.7500000000001,151.5 669,129 C 778.2499999999999,106.49999999999999 900.3571428571429,93.85714285714286 1031,99 C 1161.642857142857,104.14285714285714 1300.8214285714284,127.07142857142857 1440,150 L 1440,400 L 0,400 Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: repeat-x;
  width: 100%;
  z-index: 0;
}

.aquarium-waves-1 {
  height: 10rem;
  opacity: 0.2;
}

.aquarium-waves-2 {
  height: 7rem;
  opacity: 0.5;
}

.aquarium-waves-3 {
  height: 4rem;
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .aquarium-image-container {
    flex-basis: 100%;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 950px) {
  .aquarium-item {
    flex-direction: column;
  }
  .aquarium-item .btn {
    width: 100%;
  }
}

@media screen and (max-width: 630px) {
  .aquarium-container {
    padding: 4rem 0 0;
    background: var(--background);
  }

  .aquarium-title {
    padding: 0 2rem;
    margin-bottom: 3rem;
  }

  .aquarium-item {
    flex-direction: column;
    padding: 2rem 2rem 4rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .aquarium-image-container {
    height: auto;
  }

  .aquarium-item-img {
    width: 100%;
    height: auto;
  }

  .aquarium-image-container:hover .aquarium-item-img {
    animation: none;
    -webkit-animation: none;
  }

  .aquarium-image-container:hover .bubble {
    display: none;
  }

  .aquarium-item-text {
    margin: 0;
  }

  .aquarium-item-description {
    max-width: unset;
  }
}

@media screen and (max-width: 430px) {
  .aquarium-image-container {
    width: 100%;
  }
}

@-webkit-keyframes moveImage {
  0% {
  }

  50% {
    transform: translateY(-0.5rem);
    -webkit-transform: translateY(-0.5rem);
    -moz-transform: translateY(-0.5rem);
    -ms-transform: translateY(-0.5rem);
    -o-transform: translateY(-0.5rem);
  }

  100% {
  }
}

@keyframes moveImage {
  0% {
  }

  50% {
    transform: translateY(-0.5rem);
    -webkit-transform: translateY(-0.5rem);
    -moz-transform: translateY(-0.5rem);
    -ms-transform: translateY(-0.5rem);
    -o-transform: translateY(-0.5rem);
  }

  100% {
  }
}

@-webkit-keyframes bubble1 {
  from {
    scale: 0;
    translate: 50% 50%;
    bottom: 0;
    opacity: 0.5;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes bubble1 {
  from {
    scale: 0;
    translate: 50% 50%;
    bottom: 0;
    opacity: 0.5;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

@-webkit-keyframes bubble2 {
  from {
    scale: 0;
    translate: 0 50%;
    opacity: 0.5;
    bottom: 10%;
    left: -50%;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes bubble2 {
  from {
    scale: 0;
    translate: 0 50%;
    opacity: 0.5;
    bottom: 10%;
    left: -50%;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

@-webkit-keyframes bubble3 {
  from {
    scale: 0;
    translate: 50% -50%;
    opacity: 0.5;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes bubble3 {
  from {
    scale: 0;
    translate: 50% -50%;
    opacity: 0.5;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

@-webkit-keyframes bubble4 {
  from {
    scale: 0;
    translate: 100% -50%;
    opacity: 0.5;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes bubble4 {
  from {
    scale: 0;
    translate: 100% -50%;
    opacity: 0.5;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

@-webkit-keyframes bubble5 {
  from {
    scale: 0;
    translate: -100% 0;
    opacity: 0.5;
    right: 40%;
    bottom: 10%;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes bubble5 {
  from {
    scale: 0;
    translate: -100% 0;
    opacity: 0.5;
    right: 40%;
    bottom: 10%;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

@-webkit-keyframes bubble6 {
  from {
    scale: 0;
    translate: 50% 0;
    opacity: 0.5;
    left: 30%;
    bottom: -30%;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes bubble6 {
  from {
    scale: 0;
    translate: 50% 0;
    opacity: 0.5;
    left: 30%;
    bottom: -30%;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}