.products-section {
  background: #fff;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.products-section>h2 {
  font-size: 4em;
  margin-bottom: 2rem;
  text-align: center;
}

.products-section-see-more {
  color: var(--background);
  text-align: center;
  font-size: 1.1em;
  padding: 2rem 0;
}

.products-section-see-more a {
  text-decoration: none;
}