.products-section {
  background: #fff;
}

.products-section>h2 {
  margin-top: 2rem;
  font-size: 2em;
  text-align: center;
}

.products-section-see-more {
  color: var(--background);
  text-align: center;
  font-size: 1.1em;
  margin: 2rem auto;
}

.products-section-see-more a {
  text-decoration: none;
}