.subscription-section {
  min-height: 80vh;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
}

.subcription-container {
  flex: 1;
  height: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border-top: solid 0.5rem var(--accent); */
  position: relative;
}

.subscription-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  z-index: 2;
}

.subscription-fish {
  width: 50%;
  position: absolute;
  left: -5rem;
  bottom: 0;
  opacity: 0.1;
  z-index: 1;
}

.subscription-form-container h2 {
  color: var(--primary);
  font-size: 4em;
  line-height: 1;
}

.subscription-form-container p {
  color: var(--primary);
  font-size: 1.5rem;
}

.subscription-waves {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%233f2684' fill-opacity='1' d='M 0,400 L 0,150 C 122.32142857142858,172.07142857142856 244.64285714285717,194.14285714285714 354,189 C 463.35714285714283,183.85714285714286 559.7500000000001,151.5 669,129 C 778.2499999999999,106.49999999999999 900.3571428571429,93.85714285714286 1031,99 C 1161.642857142857,104.14285714285714 1300.8214285714284,127.07142857142857 1440,150 L 1440,400 L 0,400 Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: 720px 160px;
  transform: rotate(180deg);
  width: 100%;
  height: 160px;
}

.animation-waves {
  /* -webkit-animation: wave 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite; */
  animation: wave 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

.subscription-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
}

.subscription-form label {
  flex: 1 0 60%;
  color: var(--light-color);
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.subscription-form input {
  background: transparent;
  color: var(--primary);
  border: none;
  border-bottom: solid 1px var(--light-color);
  padding: 0.5rem 0;
  font-size: 1.2rem;
  width: 100%;
}

.subscription-form input::-webkit-input-placeholder {
  color: var(--primary);
}

.subscription-form input::-moz-placeholder {
  color: var(--primary);
}

.subscription-form input:-ms-input-placeholder {
  color: var(--primary);
}

.subscription-form input:focus,
.subscription-form input:active {
  border: none;
  outline: none;
  border-bottom: solid 1px var(--accent);
}

.subscription-form input:focus::-webkit-input-placeholder,
.subscription-form input:active::-webkit-input-placeholder {
  opacity: 0;
}

.subscription-form input:focus::-moz-placeholder,
.subscription-form input:active::-moz-placeholder {
  opacity: 0;
}

.subscription-form input:focus:-ms-input-placeholder,
.subscription-form input:active:-ms-input-placeholder {
  opacity: 0;
}

.subscription-form input:focus::-ms-input-placeholder,
.subscription-form input:active::-ms-input-placeholder {
  opacity: 0;
}

.subscription-form input:focus::placeholder,
.subscription-form input:active::placeholder {
  opacity: 0;
}

/* @-webkit-keyframes wave {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: -500px;
  }
} */

@keyframes wave {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -720px;
  }

  /* 0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-1440px);
  } */
}

@media screen and (max-width: 750px) {
  .subscription-waves {
    -webkit-animation: none;
    animation: none;
    display: none;
  }

  .subscription-form-container {
    gap: 2rem;
  }

  .subscription-form {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .subscription-form label {
    margin: 0;
    width: 100%;
  }

  .subscription-form input {
    margin: 0;
  }

  .btn {
    width: 100%;
  }
}
