.password-input {
    width: 70%;
    position: relative;
}

.password-input .form-control {
    max-width: 100%;
    width: 100%;
    padding-right: 2rem;
}

.password-input i {
    position: absolute;
    width: 2rem;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .password-input {
        flex: 0;
        max-width: 100%;
        width: 100%;
    }
}